body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2196f3, #21cbf3);
    color: white;
    text-align: center;
}

.container {
    background: white;
    color: #0d47a1;
    width: 350px;
    margin: 80px auto;
    padding: 25px;
    border-radius: 12px;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0d47a1;
}

a {
    color: #1976d2;
}
